<!DOCTYPE html>
<html>
<head>
  <title>ElasticSearchRailsApp</title>
  <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= load_netzke %>
</head>
<body>

<%= yield %>

</body>
</html>
